.container {
  min-height: 100vh;
  position: relative;
}

.navigation {
  background-color: #77cdff;
  height: 40px;
  padding: 10px;
  border-bottom: 4px solid #000000;
  display: flex;
}

.hamburger svg {
  width:50vw;
}

.heading {
  font-size:2em;
  color: #000000;
  margin: 0;
  width:80vw;
  display:flex;
}

.infowindow {
  width: 250px;
  height: auto;
  margin: auto;
  padding-left:2em;
  padding-right:0;
  text-align: left;
  display: block;
}

.content {
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.map {
  width: 100%;
  position: relative;
}

.sidebar {
  background-color: #77cdff
}

.locationsList {
  list-style-type: none;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

.search {
  width: 100%;
  font-size: 1.5em;
  padding: 20px 20px 20px 45px;
  background-image: url('./img/search_icon.svg');
  background-size: 1.45em;
}

.wikiInfo {
  font-size: 1.1em;
  margin-bottom:1em;
}

.readmoreButton {
  background-color:#77cdff;
  color: black;
  font-size: 2em;
  width: 8em;
  transition-duration: 1s;
  text-align: center;
  text-decoration: none;
  padding: 10px 5px;
  display: inline-block;
  margin-bottom: 1em;
}

.readmoreButton:hover {
    background-color:  black;
    color: white;
}

.listButton {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;;
    padding: 16px 32px;
    width: 100%;
    background-color: #77cdff;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 1s;
}

.listButton:hover {
    background-color:  black;
    color: white;
}



.error {
  text-align: center;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}


@media screen and (max-width: 500px) {
  .search{
    background-image: none;
    padding-left:20px;
    font-size: 0.8em;
  }

  .locationsList {
    font-size:0.8em;
  }

  .heading {
    font-size:1.5em;
    padding-left:2em;
  }

  .hamburger {
    width: 60px;
  }

  .hamburger svg {
    width:50px;
  }

  .infowindow {
    width: 150px;
    height: auto;
  }

  .infoButton {
    padding: 5px 5px;
    font-size: 1em;
    width: 100px;
  }

  .readmoreButton {
    font-size: 1em;
    padding: 0.5em;
    width:100px;
  }

  .sidebar {
    width:50vw;
  }
}

@media screen and (min-width: 501px) and (max-width: 622px) {
  .heading {
    font-size:1.5em;
  }
  .hamburger svg {
    width: 30vw;
  }
}

@media screen and (min-width: 623px) {

  .hamburger svg {
    width: 40vw;
  }
}
